#stream-display {
  grid-row: 2/3;
  justify-self: center;
  align-self: end;
  height: 540px;
  width: 960px;
  margin: 32px;
  background-color: black;

  display: flex;
  align-items: center;
  justify-content: center;

  video {
    align-self: center;
    width: 960px;
    height: 540px;
  }
}
